<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capgemini UC-1</title>
</head>
<body>
 <!--uc-1--> 
  <h1>Hello From BridgeLab.</h1>
   <!--uc-2-->
  <h1>{{ title }}</h1>

    <!-- UC-3: Click event to open website and uc-4 -->
<div>
  <img [src]="imgurl" alt="BridgeLabz Logo" (click)="onClick($event)" style="cursor: pointer;" />
</div>

<!--uc-5-->
<div>
  <label>Enter your name: </label>
  <input type="text" [(ngModel)]="userName" placeholder="Type your name">
</div>

<h2>Hello from BridgeLabz, {{ userName }}</h2>
// uc-5 
userName: string = '';


</body>
</html>